body {
    background-color: rgb(72, 31, 31);
  }
  h1 {
    color: white;
  }
  p {
    color: gold;
  }
#treasure-chest-container {
    text-align: center;
    margin-top: 50px;
}

#treasure-chest {
    width: 200px;
    cursor: pointer;
    transition: transform 0.3s;
}

#treasure-chest:hover {
    transform: scale(1.1);
}

/* Loot shaking animation */
@keyframes shake {
  0%, 100% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
}

#loot {
  cursor:pointer;
  animation: shake 1s infinite;
}

#loot:hover {
  animation: shake 0.5s infinite;
}

#chest {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%) scale(0.5);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
  z-index: 1;
}

#chest.show{
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

